
$animate: false;

html, body {
    @if $animate {
        overflow: hidden;
    }
    height: 100%;
}

.s {
    line-height: 1.2 !important;
}

.input-box {
    transform: translateY(-50%);
}

.town-image {
    transform: translateY(-20%);
}
