
.hiding .input-box {
    animation: 0.8s box-whack;
    animation-fill-mode: both;
}

.hiding > *:first-child {
    transform: translateY(-500px);
    transition-property: transform;
    transition-duration: 0.8s;
}

.hiding > *:last-child > * {
    transform: translateY(500px);
    transition-property: transform;
    transition-duration: 0.8s;
}


@keyframes box-whack {
    0% {
        opacity: 1;
        transform: translate(0, -50%) rotate(0);
    }

    50% {
        opacity: 0.9  rotate(10deg);
    }

    100% {
        transform: translate(-150%, 300%) rotate(90deg);
        opacity: 0;
    }
}